:root {
    --yellow: rgb(100%, 86%, 25%);
    --green: rgba(177, 218, 126, 0.7);
    --blue: #0688fa;
    --light-blue: #2dabf9;
    --semi-transparent-black: rgba(0, 0, 0, 0.5);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Paytone One', 'Agbalumo', Arial, sans-serif;
    color: rgb(80, 80, 150);
}


body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: var(--yellow);
}

h1,
h2 {
    text-align: center;
    font-size: 40px;
    letter-spacing: 2px;
}

h2 {
    margin: 2%;
}

h3 {
    font-weight: 100;
    letter-spacing: 0.5px;
}

/* Header */
.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 10% 0 10%;
    background-color: var(--yellow);
}

.top-header span {
    font-size: 25px;
}

.logo a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo a img {
    margin-right: 20px;
}

/* Navigation bar */
.navbar-row {
    list-style-type: none;
    margin: 0 14%;
}

.navbar-row a {
    text-decoration: none;
}

.navbar-row li a:hover {
    color: lightyellow;
}

/* Main */
/* Banner */
.banner {
    background-image: url(./images/banner.jpg);
    background-size: 100%;
    height: 15vh;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--yellow);
}

.banner h1 {
    font-family: 'Agbalumo', 'Paytone One', Arial, sans-serif;
    text-transform: uppercase;
    text-shadow: 3px 3px 3px white;
}

/* Product Page */
.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 13%;
    border-radius: 20px;
}

.card {
    box-shadow: 0 4px 8px 0 var(--semi-transparent-black);
    width: 18%;
    margin: 10px auto;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    background-color: var(--green);
}

.card h2 {
    font-size: 15px;
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}

.product-row,
.navbar-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.product-button {
    box-shadow: inset 0px -3px 7px 0px #29bbff;
    background: linear-gradient(to bottom, var(--light-blue) 5%, var(--blue) 100%);
    background-color: var(--light-blue);
    border-radius: 15px;
    border: 1px solid var(--semi-transparent-black);
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    padding: 9px 20px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #263666;
    width: 100%;
}

.product-button:hover {
    background: linear-gradient(to bottom, var(--blue) 5%, var(--light-blue) 100%);
    background-color: var(--blue);
}

.product-button:active {
    position: relative;
    top: 1px;
}

/* Cat and Dog page */
.cat-image,
.dog-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cat-image img,
.dog-image img {
    max-width: 100%;
    height: auto;
}

/* Cart Page */
.cart-button-container {
    text-align: center;
}

.cart-button {
    box-shadow: inset 0px -3px 7px 0px #29bbff;
    background: linear-gradient(to bottom, var(--light-blue) 5%, var(--blue) 100%);
    background-color: var(--light-blue);
    border-radius: 15px;
    border: 1px solid var(--semi-transparent-black);
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    text-shadow: 0px 1px 0px #263666;
    width: 50px;
    height: 50px;
}

.cart-button:hover {
    background: linear-gradient(to bottom, var(--blue) 5%, var(--light-blue) 100%);
    background-color: var(--blue);
}

.cart-button:active {
    position: relative;
    top: 1px;
}

.cart-button img {
    margin: 0 auto;
}

.cart-item {
    display: flex;
    align-items: center;
    padding: 20px;
    margin: 0 13%;
    background-color: var(--green);
    border-radius: 20px;
}

.image-container {
    flex: 1;
    max-width: 200px;
}

.image-container img {
    height: 200px;
    border-radius: 20px;
}

.cart-container {
    display: flex;
    flex-direction: column;
    flex: 2;
    margin-left: 20px;

}

.cart {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;

}

.cart-left,
.cart-right {
    flex: 1;
}

.cart-right {
    text-align: right;
}

.cart-cost {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 13%;
    background-color: var(--green);
    border-radius: 20px;
}

.cost-paragraphs {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}

.cart-cost .product-button {
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 400px;
}

/* Footer */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: rgb(255, 219, 64);
    font-family: 'Roboto', sans-serif;
    margin-top: auto;
    text-align: center;
    padding: 20px;
}

h4 {
    font-size: 1.1rem;
    font-weight: 500;
    margin: 0;
    margin-bottom: 12px;
    color: black;
    padding-right: 2px;
    /* Add this line */
    padding-left: 1px;
    /* Add this line */

}




/* Media Query */
@media only screen and (max-width: 1200px) {
    .top-header {
        padding: 3% 6%;
    }

    .product-container,
    h2 {
        margin: 2% 1%;
    }

    .card {
        width: 30%;
    }

}

@media only screen and (max-width: 650px) {
    .logo img {
        width: 80px;
        height: auto;
    }

    .banner h1,
    h2 {
        font-size: larger;
    }

    .card {
        width: 45%;
    }

    .cart-img {
        max-height: 120px;
        max-width: 120px;
    }

}

@media only screen and (max-width: 390px) {
    .cart-img {
        max-height: 100px;
        max-width: 100px;
    }
}